[submodule "doom-emacs"]
	path = doom-emacs
	url = https://github.com/hlissner/doom-emacs
	branch = develop
[submodule "emacs2nix"]
	path = emacs2nix
	url = https://github.com/ttuegel/emacs2nix
	branch = master
[submodule "melpa"]
	path = melpa
	url = https://github.com/sveitser/melpa
	branch = master
